@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

@font-face {
    font-family: blake;
    src: url(./Blakefont.ttf);
}

*{
    margin: 0;
    padding: 0;

}

body{
    height: 100%;
    width: 100%;
}

.main-image video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 0;
    /* filter: brightness(0.9); */
}

.navbar {
    width: 50px;
    height: 50px;
    background-color: rgb(36, 35, 35);
    border-radius: 50%;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    animation: dropDown 1s ease-out forwards, expandNav 0.5s 1s forwards;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    animation: fadeIn 0.5s 1.2s forwards;
}

.nav-list li {
    margin: 0 8px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 12px;
    font-family: nb;
    transition: background-color 0.3s ease, color 0.1s ease, border-radius 0.1s ease;
}

.nav-list li a:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
    color: black;
}

@keyframes dropDown {
    0% {
        top: -100px;
    }
    60% {
        top: 50px;
    }
    80% {
        top: 20px;
    }
    100% {
        top: 10px;
    }
}

@keyframes expandNav {
    from {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    to {
        width: 25%;
        height: 40px;
        border-radius: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Extra small to medium devices  */
@media (max-width: 425px) {
    @keyframes expandNav {
        from {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        to {
            width: 95%;
            height: 40px;
            border-radius: 20px;
        }
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    @keyframes expandNav {
        from {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        to {
            width: 75%;
            height: 40px;
            border-radius: 20px;
        }
    }
}

/* media query for tablet */
@media (min-width: 768px) and (max-width: 1300px) {
    @keyframes expandNav {
        from {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        to {
            width: 50%;
            height: 40px;
            border-radius: 20px;
        }
    }
}