@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;

}

body{
    height: 100%;
    width: 100%;
    background-color: #0c0c0cf4;
}

.image-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.background-image{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    filter: grayscale(80%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 20%;
}

/* Stars Layer */
#starsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}


.navbar {
    width: 50px;
    height: 50px;
    background-color: rgb(75, 73, 73);
    border-radius: 50%;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    animation: dropDown 1s ease-out forwards, expandNav 0.5s 1s forwards;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
    z-index: 1000;
    /* border: 1px solid red; */
    margin-top: 5px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    animation: fadeIn 0.5s 1.2s forwards;
    position: relative;
}

.nav-list li {
    margin: 0 6px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 12px;
    font-family: nb;
    transition: background-color 0.3s ease, color 0.1s ease, border-radius 0.1s ease;
}

.nav-list li a:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
    color: black;
}

@keyframes dropDown {
    0% {
        top: -100px;
    }
    60% {
        top: 50px;
    }
    80% {
        top: 20px;
    }
    100% {
        top: 10px;
    }
}

@keyframes expandNav {
    from {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    to {
        width: 24%;
        height: 40px;
        border-radius: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

                                        /* This part is of nav bar media query  */
/* Extra small to medium devices  */
@media (max-width: 425px) {
    @keyframes expandNav {
        from {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        to {
            width: 70%;
            height: 40px;
            border-radius: 20px;
        }
    }
    .navbar{
        margin-top: 6px;
    }
    .nav-list li {
        margin: 0 3px;
    }
    .nav-list li a{
        padding: 4px 8px;
    }

} 

@media (min-width: 426px) and (max-width: 768px) {
    @keyframes expandNav {
        from {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        to {
            width: 65%;
            height: 40px;
            border-radius: 20px;
        }
    }
    .navbar{
        margin-top: 6px;
    }
    .nav-list li {
        margin: 0 1vw;
    }
    .nav-list li a{
        padding: 1vw 1vw;
    }
}

/* media query for tablet */
@media (min-width: 768px) and (max-width: 1300px) {
    @keyframes expandNav {
        from {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        to {
            width: 40%;
            height: 40px;
            border-radius: 20px;
        }
    }
    .navbar{
        margin-top: 6px;
    }
    .nav-list li {
        margin: 0 1vw;
    }
    .nav-list li a{
        padding: 4px 1vw;
    }
}


/*                                  This part is of name section and media query */

.main-name h1{
    position:absolute;
    top: 40%;
    font-family: "Italiana", serif;
    font-weight: 500;
    font-size: 6.5em ;
    animation: fontOpacity 0.5s ease-in 0.5s;
    width: 100%;
    text-align: center;
}


.main-name h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px rgb(150, 148, 148);
}
.main-name h1:nth-child(2){
    color: rgba(255, 255, 255, 0.819);
    animation: animate1 3s ease-in-out infinite;
}
@keyframes animate1 {
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%,
        70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 
        67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@keyframes fontOpacity{
    from {opacity: 0;}
    to{opacity: 1;}
}

/* Media Query for screens up to 425px (small screens like mobile) */
@media screen and (max-width: 425px) {
    .main-name h1 {
        font-size: 3em; /* Reduce font size for better fit */
        top: 50%; /* Keep it vertically centered */
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Media Query for screens 426px to 768px (tablets and small laptops) */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .main-name h1 {
        font-size: 4.5em; /* Adjust font size for medium screens */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Media Query for screens 768px to 1300px (larger tablets and desktops) */
@media screen and (min-width: 769px) and (max-width: 1300px) {
    .main-name h1 {
        font-size: 5.5em; /* Slightly smaller than default for large screens */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 430px) {
    .main-name h1 {
        font-size: 3.5em; /* Adjust font size for better fit */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


section p{
    color: #FBF5E5;
    position:absolute;
    top: 55%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Italiana", serif;
    font-size: 20px;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

/*                                               PROJECT  1 SECTION                                 */

main p {
    text-align:center;
    font-size: 60px;
    font-family: "Be Vietnam Pro", serif;
    color: #c7b585;
    font-weight: 500;
    position: relative;
    padding-top: 15px;
    /* border: 1px solid red; */
}




.project-card1 {
    position: relative; 
    width: 70%;
    margin: 5vw 9vw;
    /* left: 15%; */
}

.project-card1 img{
    height: 70%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #f9f8f8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    opacity: 70%;
}


.project-card1 #project1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Start with no width */
    height: 100%;
    opacity: 80%;
    border-radius: 10px;
    background-color: #000407; /* Blue layer with some transparency */
    transition: width 0.4s ease; /* Smooth sliding animation */
}

.project-card1:hover #project1 {
    width: 100%;
}

.overlay1 {
    position: relative; /* To position the h1 within the overlay */
}

.overlay1 h1 {
    /* border: 1px solid red; */
    z-index: 1;
    color: white;
    /* font-family: sans-serif; */
    font-family: "Be Vietnam Pro", serif;
    font-size: 14vw;
    position: absolute;
    right: 0;
    top: 0; /* Adjusted for vertical centering */
    transform: translateY(-40%); /* Vertically centers the text */
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth transition */
    text-shadow: 
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgba(255, 204, 102, 0.6),
        0 0 20px rgba(255, 204, 102, 0.5);
}

.project-card1:hover .overlay1 h1 {
    opacity: 1; /* Make it visible on hover */
    visibility: visible; /* Makes it interactable and visible */
    transition: opacity 0.3s ease, visibility 0s 0s; /* Ensures visibility is set immediately */
}

.project1-container{
    /* border: 2px solid red; */
    height: 50%;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.4s ease; /* Smooth fade-in and fade-out */
    pointer-events: none; /* Prevent interaction when invisible */
}

.project-card1:hover .project1-container {
    opacity: 1; /* Make it visible on hover */
    pointer-events: auto; /* Enable interaction when visible */
}

.project1-skill {
    font-size: 7vw;
    display: flex;
    transition: all 0.3s ease-in-out; 
}

#project1-text {
    color: white;
    font-size: 2vw;
    font-family: nb;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, font-size 0.3s ease-in-out; /* Smooth transition */
    /* border: 1px solid red; */
}

.project-card1:hover #project1-text {
    opacity: 1; /* Fully visible on hover */
    visibility: visible; /* Makes it visible */
    font-size: 2.5vw; /* Optional: Increase font size on hover */
    transition: opacity 0.3s ease-in-out, visibility 0s 0s, font-size 0.3s ease-in-out;
}


#project1-text p {
    /* border: 1px solid red; */
    font-size: 1vw;
    font-weight: 100;
    font-style: italic;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out; /* Smooth transition added */
}

#project1-text .button {
    display: inline-block; /* Behave like a button */
    width: 12vw;
    height: 5vw;
    background-color: #e74949; /* Initial solid color */
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 5vw; /* Vertically align the text */
    text-decoration: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Ensures the hover effect stays within the button bounds */
    transition: all 0.3s ease-in-out; /* Smooth text transition */
}

#project1-text .button:hover {
    box-shadow: 5px 5px 10px gray; /* Add shadow on hover */
    transform: scale(1.1); /* Scale the button on hover */
    background: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}

#project1-text .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #110303 0%, rgba(231, 73, 73, 0) 100%);
    transition: all 0.5s ease-in-out;
    z-index: 0; /* Place it behind the text */
}

#project1-text .button:hover::before {
    left: 100%; /* Move the gradient off-screen to the right */
}

#project1-text .button:hover {
    background: white; /* Ensure background color is cleared */
}

#project1-text .button a {
    position: relative;
    z-index: 1; /* Place the text above the gradient effect */
    color: white; /* Text color for the default state */
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
}

#project1-text .button:hover a {
    color: black; /* Change text color on hover */
}



/*                                  PROJECT  2 SECTION              */

.project-card2 {
    position: relative; 
    width: 70%;
    margin: 10vw 20vw;
}

.project-card2 img{
    height: 70%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #f9f8f8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    opacity: 70%;
}

.project-card2 #project2{
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Start with no width */
    height: 100%;
    opacity: 80%;
    border-radius: 10px;
    background-color: #000407; /* Blue layer with some transparency */
    transition: width 0.4s ease; /* Smooth sliding animation */
}

.project-card2:hover #project2 {
    width: 100%;
}

.overlay2 {
    position: relative; /* To position the h1 within the overlay */
}

.overlay2 h1 {
    /* border: 1px solid red; */
    z-index: 1;
    color: white;
    /* font-family: sans-serif; */
    font-family: "Be Vietnam Pro", serif;
    font-size: 14vw;
    position: absolute;
    left: 0;
    top: 0; /* Adjusted for vertical centering */
    transform: translateY(-40%); /* Vertically centers the text */
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth transition */
    text-shadow: 
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgba(255, 204, 102, 0.6),
        0 0 20px rgba(255, 204, 102, 0.5);
}

.project-card2:hover .overlay2 h1 {
    opacity: 1; /* Make it visible on hover */
    visibility: visible; /* Makes it interactable and visible */
    transition: opacity 0.3s ease, visibility 0s 0s; /* Ensures visibility is set immediately */
}

.project2-container{
    /* border: 2px solid red; */
    height: 50%;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.4s ease; /* Smooth fade-in and fade-out */
    pointer-events: none; /* Prevent interaction when invisible */
}

.project-card2:hover .project2-container {
    opacity: 1; /* Make it visible on hover */
    pointer-events: auto; /* Enable interaction when visible */
}

.project2-skill {
    font-size: 7vw;
    display: flex;
    transition: all 0.3s ease-in-out; 
}

#project2-text {
    color: white;
    font-size: 2vw;
    font-family: nb;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, font-size 0.3s ease-in-out; /* Smooth transition */
    /* border: 1px solid red; */
}

.project-card2:hover #project2-text {
    opacity: 1; /* Fully visible on hover */
    visibility: visible; /* Makes it visible */
    font-size: 2.5vw; /* Optional: Increase font size on hover */
    transition: opacity 0.3s ease-in-out, visibility 0s 0s, font-size 0.3s ease-in-out;
}


#project2-text p {
    /* border: 1px solid red; */
    font-size: 1vw;
    font-weight: 100;
    font-style: italic;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out; /* Smooth transition added */
}

#project2-text .button {
    display: inline-block; /* Behave like a button */
    width: 12vw;
    height: 5vw;
    background-color: #e74949; /* Initial solid color */
    border: none;
    border-radius: 5px;
    /* font-size: 2vw; */
    color: white;
    text-align: center;
    line-height: 5vw; /* Vertically align the text */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Ensures the hover effect stays within the button bounds */
    transition: all 0.3s ease-in-out; /* Smooth text transition */
}

#project2-text .button:hover {
    box-shadow: 5px 5px 10px gray; /* Add shadow on hover */
    transform: scale(1.1); /* Scale the button on hover */
    background: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}

#project2-text .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #110303 0%, rgba(231, 73, 73, 0) 100%);
    transition: all 0.5s ease-in-out;
    z-index: 0; /* Place it behind the text */
}

#project2-text .button:hover::before {
    left: 100%; /* Move the gradient off-screen to the right */
}

#project2-text .button:hover {
    background: white; /* Ensure background color is cleared */
}

#project2-text .button a {
    position: relative;
    z-index: 1; /* Place the text above the gradient effect */
    color: white; /* Text color for the default state */
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
}

#project2-text .button:hover a {
    color: black; /* Change text color on hover */
}

/*                                  PROJECT 3 SECTION                                    */

.project-card3 {
    position: relative; 
    width: 70%;
    margin: 10vw 9vw;
}

.project-card3 img{
    height: 70%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #f9f8f8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    opacity: 70%;
}

.project-card3 #project3{
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Start with no width */
    height: 100%;
    opacity: 80%;
    border-radius: 10px;
    background-color: #000407; /* Blue layer with some transparency */
    transition: width 0.4s ease; /* Smooth sliding animation */
}

.project-card3:hover #project3 {
    width: 100%;
}

.overlay3 {
    position: relative; /* To position the h1 within the overlay */
}

.overlay3 h1 {
    /* border: 1px solid red; */
    z-index: 1;
    color: white;
    /* font-family: sans-serif; */
    font-family: "Be Vietnam Pro", serif;
    font-size: 14vw;
    position: absolute;
    right: 0;
    top: 0; /* Adjusted for vertical centering */
    transform: translateY(-40%); /* Vertically centers the text */
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth transition */
    text-shadow: 
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgba(255, 204, 102, 0.6),
        0 0 20px rgba(255, 204, 102, 0.5);
}

.project-card3:hover .overlay3 h1 {
    opacity: 1; /* Make it visible on hover */
    visibility: visible; /* Makes it interactable and visible */
    transition: opacity 0.3s ease, visibility 0s 0s; /* Ensures visibility is set immediately */
}

.project3-container{
    /* border: 2px solid red; */
    height: 50%;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.4s ease; /* Smooth fade-in and fade-out */
    pointer-events: none; /* Prevent interaction when invisible */
}

.project-card3:hover .project3-container {
    opacity: 1; /* Make it visible on hover */
    pointer-events: auto; /* Enable interaction when visible */
}

.project3-skill {
    font-size: 7vw;
    display: flex;
    transition: all 0.3s ease-in-out; 
}

#project3-text {
    color: white;
    font-size: 2vw;
    font-family: nb;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, font-size 0.3s ease-in-out; /* Smooth transition */
    /* border: 1px solid red; */
}

.project-card3:hover #project3-text {
    opacity: 1; /* Fully visible on hover */
    visibility: visible; /* Makes it visible */
    font-size: 2.5vw; /* Optional: Increase font size on hover */
    transition: opacity 0.3s ease-in-out, visibility 0s 0s, font-size 0.3s ease-in-out;
}


#project3-text p {
    /* border: 1px solid red; */
    font-size: 1vw;
    font-weight: 100;
    font-style: italic;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out; /* Smooth transition added */
}

#project3-text .button {
    display: inline-block; /* Behave like a button */
    width: 12vw;
    height: 5vw;
    background-color: #e74949; /* Initial solid color */
    border: none;
    border-radius: 5px;
    /* font-size: 2vw; */
    color: white;
    text-align: center;
    line-height: 5vw; /* Vertically align the text */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Ensures the hover effect stays within the button bounds */
    transition: all 0.3s ease-in-out; /* Smooth text transition */
}

#project3-text .button:hover {
    box-shadow: 5px 5px 10px gray; /* Add shadow on hover */
    transform: scale(1.1); /* Scale the button on hover */
    background: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}

#project3-text .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #110303 0%, rgba(231, 73, 73, 0) 100%);
    transition: all 0.5s ease-in-out;
    z-index: 0; /* Place it behind the text */
}

#project3-text .button:hover::before {
    left: 100%; /* Move the gradient off-screen to the right */
}

#project3-text .button:hover {
    background: white; /* Ensure background color is cleared */
}

#project3-text .button a {
    position: relative;
    z-index: 1; /* Place the text above the gradient effect */
    color: white; /* Text color for the default state */
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
}

#project3-text .button:hover a {
    color: black; /* Change text color on hover */
}


/*                                              PROJECT  4           */

.project-card4 {
    position: relative; 
    width: 70%;
    margin: 2vw 20vw;
}

.project-card4 img{
    height: 70%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #f9f8f8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    opacity: 70%;
}

.project-card4 #project4{
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Start with no width */
    height: 100%;
    opacity: 80%;
    border-radius: 10px;
    background-color: #000407; /* Blue layer with some transparency */
    transition: width 0.4s ease; /* Smooth sliding animation */
}

.project-card4:hover #project4 {
    width: 100%;
}

.overlay4 {
    position: relative; /* To position the h1 within the overlay */
}

.overlay4 h1 {
    /* border: 1px solid red; */
    z-index: 1;
    color: white;
    /* font-family: sans-serif; */
    font-family: "Be Vietnam Pro", serif;
    font-size: 14vw;
    position: absolute;
    left: 0;
    top: 0; /* Adjusted for vertical centering */
    transform: translateY(-40%); /* Vertically centers the text */
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth transition */
    text-shadow: 
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgba(255, 204, 102, 0.6),
        0 0 20px rgba(255, 204, 102, 0.5);
}

.project-card4:hover .overlay4 h1 {
    opacity: 1; /* Make it visible on hover */
    visibility: visible; /* Makes it interactable and visible */
    transition: opacity 0.3s ease, visibility 0s 0s; /* Ensures visibility is set immediately */
}

.project4-container{
    /* border: 2px solid red; */
    height: 50%;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.4s ease; /* Smooth fade-in and fade-out */
    pointer-events: none; /* Prevent interaction when invisible */
}

.project-card4:hover .project4-container {
    opacity: 1; /* Make it visible on hover */
    pointer-events: auto; /* Enable interaction when visible */
}

.project4-skill {
    font-size: 7vw;
    display: flex;
    transition: all 0.3s ease-in-out; 
}

#project4-text {
    color: white;
    font-size: 2vw;
    font-family: nb;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents it from occupying space when invisible */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, font-size 0.3s ease-in-out; /* Smooth transition */
    /* border: 1px solid red; */
}

.project-card4:hover #project4-text {
    opacity: 1; /* Fully visible on hover */
    visibility: visible; /* Makes it visible */
    font-size: 2.5vw; /* Optional: Increase font size on hover */
    transition: opacity 0.3s ease-in-out, visibility 0s 0s, font-size 0.3s ease-in-out;
}


#project4-text p {
    /* border: 1px solid red; */
    font-size: 1vw;
    font-weight: 100;
    font-style: italic;
    transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out; /* Smooth transition added */
}

#project4-text .button {
    display: inline-block; /* Behave like a button */
    width: 12vw;
    height: 5vw;
    background-color: #e74949; /* Initial solid color */
    border: none;
    border-radius: 5px;
    /* font-size: 2vw; */
    color: white;
    text-align: center;
    line-height: 5vw; /* Vertically align the text */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Ensures the hover effect stays within the button bounds */
    transition: all 0.3s ease-in-out; /* Smooth text transition */
}

#project4-text .button:hover {
    box-shadow: 5px 5px 10px gray; /* Add shadow on hover */
    transform: scale(1.1); /* Scale the button on hover */
    background: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}

#project4-text .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #110303 0%, rgba(231, 73, 73, 0) 100%);
    transition: all 0.5s ease-in-out;
    z-index: 0; /* Place it behind the text */
}

#project4-text .button:hover::before {
    left: 100%; /* Move the gradient off-screen to the right */
}

#project4-text .button:hover {
    background: white; /* Ensure background color is cleared */
}

#project4-text .button a {
    position: relative;
    z-index: 1; /* Place the text above the gradient effect */
    color: white; /* Text color for the default state */
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
}

#project4-text .button:hover a {
    color: black; /* Change text color on hover */
}


/*                                      ABOUT SECTION                */

#about h1 {
    text-align:center;
    font-size: 60px;
    /* font-family: rejoy, sans-serif; */
    font-family: "Be Vietnam Pro", serif;
    color: #c7b585;
    font-weight: 500;
    position: relative;
    padding-top: 15px;
    /* border: 2px solid red; */
}

.about-content{
    height: fit-content;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.362); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    /* border: 1px solid blue; */
}

#left-top{
    /* background-color: blue; */
    grid-column: 1/2;
}
#left-top h1{
    color: white;
    margin-top: 15%;
    /* font-family: "Akaya Kanadaka", serif; */
    font-size: 5vw;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-family: "Italiana", serif;
    
}
#left-top h1 span{
    font-size: 10vw;
    position: relative;
    transition: all linear 0.3s;
}
#left-top h1 span:hover{
    color: black;
    transition: all linear 0.3s;
}

#left-top h1 span::after{
    content: "";
    border-radius: 10px;
    height: 90%;
    width: 0;
    top: 0;
    left: 5%;
    background-color: whitesmoke;
    position: absolute;
    transition: all linear 0.3s;
    z-index: 1;
}

#left-top h1 span:hover::after{
    width: 100%;
    z-index: -1;
}

#left-bottom{
    padding-top: 60px;
    /* background-color: red; */
}
#left-bottom h2{
    /* background-color: pink; */
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 2vw;
    font-family: "Italiana", serif;
    position: relative;
    margin-top:-3vw;
    white-space: nowrap;
}


#left-bottom h2 span {
    position: relative;
}

#left-bottom h2 span::before {
    content: " "; /* Default text */
    animation: words 5s infinite;
}

#left-bottom h2 span::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: white;
    right: -7px;
    animation: cursor 0.6s steps(2) infinite;
}

@keyframes cursor {
    50% { background-color: transparent; }
}

@keyframes words {
    0%, 33% { content: "Full-stack Web Developer"; }
    34%, 66% { content: "Front-end Developer"; }
    67%, 100% { content: "Back-end Developer"; }
}


#left-bottom p{
    color: white;
    font-family: "Be Vietnam Pro", serif;
    padding: 2vw 5vw;
    text-align: center;
    font-weight: 100;

}

#edu-left{
    padding: 0px 25px;
}

.edu-course1{
    padding: 1vw 1.5vw;
    background-color: rgb(205, 201, 194);
    margin-bottom: 10px;
    width: 80%;
    border-radius: 40px;
}
.edu-course1 h4{
    font-size: 1.2vw;
    text-align: left;
    font-family: "Be Vietnam Pro", serif;
    font-weight: 500;
}

.edu-course2{
    background-color: rgb(205, 201, 194);
    padding: 1vw 1.5vw;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 40px;
}
.edu-course2 h4{
    font-size: 1.2vw;
    text-align: left;
    font-family: "Be Vietnam Pro", serif;
    font-weight: 500;
}


#right{
    /* background-color: goldenrod; */
    grid-row: 1/4;
    grid-column: 2/3;
    /* position: relative; */
}
#right .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    padding: 110px; 
}

#right .box{
    background-image: url(sonuphoto.jpeg);
    filter: grayscale(1);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: middle;
    height: 420px;
    width: 420px;
    box-shadow: 0px 0px 30px #f9f8f8;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


@media (max-width: 600px) {
    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        height: auto;
    }

    #left-top{
        grid-column: 1;
    }
    #left-top h1 {
        font-size: 8vw;
        margin-top: 5%;
    }
    

    #left-bottom {
        text-align: center;
        width: fit-content;
        grid-row: 3/4;
        padding: 5px;
    }

    #left-bottom h2 {
        font-size: 5vw;
        padding: 10px;
    }

    #left-bottom p {
        font-size: 3vw;
        padding: 2vw 10px;
    }
    .edu-course1{
        margin-bottom: 10px;
        width: fit-content;
        border-radius: 40px;
    }
    .edu-course1 h4{
        font-size: 0.5em;
        text-align: left;
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
    }
    .year{
        margin-left: 140px
    }
    
    .edu-course2{
        padding: 1vw 1.5em;
        width: fit-content;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .edu-course2 h4{
        font-size: 0.5em;
        text-align: left;
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
    }

    #right {
        grid-column: 1;
        grid-row: auto;
        width: fit-content;
        padding: 10px;
    }

    #right .wrapper {
        padding: 40px;
        
    }

    #right .box {
        height: 300px;
        width: 300px;
        box-shadow: 0px 0px 20px #f9f8f8;
    }
    /* .arrow{
        display: none;
    } */
}

@media (min-width: 600px) and (max-width: 1024px) {
    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        height: auto;
        /* gap: 20px; */
    }

    #left-top {
        text-align: center;
        width: 100%;
        grid-column: 1/3;

    }

    #left-top h1 {
        font-size: 6vw;
        margin-top: 3%;
    }

    #left-bottom {
        text-align: center;
        width: 90%;
        padding: 20px;
        grid-row: 3/4;
        grid-column: 1/3;
    }

    #left-bottom h2 {
        font-size: 3.5vw;
        padding: 10px;
    }

    #left-bottom h2 span::after {
        width: 2px;
    }

    #left-bottom p {
        font-size: 2.5vw;
        padding: 2vw 30px;
    }
    .edu-course1{
        margin-bottom: 10px;
        width: fit-content;
        border-radius: 40px;
        padding: 1vw 0.7vw;
    }
    .edu-course1 h4{
        font-size: 1.2vw;
        text-align: left;
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
    }
    .year{
        margin-left: 140px;
    }
    
    .edu-course2{
        width: fit-content;
        padding: 1vw 0.7vw;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .edu-course2 h4{
        font-size: 1.2vw;
        text-align: left;
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
    }

    #right {
        width: 100%;
        padding: 20px;
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #right .wrapper {
        padding: 60px;
    }

    #right .box {
        height: 400px;
        width: 400px;
        box-shadow: 0px 0px 25px #f9f8f8;
    }
    /* .arrow{
        display: none;
    } */
}

@media (min-width: 1025px) and (max-width: 1986px) {
    .edu-course1{
        margin-top: 20px;
        width: fit-content;
        border-radius: 40px;
        padding: 0.6vw 0.7vw;
    }
    .edu-course1 h4{
        font-size: 1.2vw;
        text-align: left;
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
    }
    .year{
        margin-left: 80px;
        font-size: 1vw;
    }
    
    .edu-course2{
        width: fit-content;
        padding: 0.6vw 0.7vw;
        margin-top: 20px;
        border-radius: 40px;
    }
    .edu-course2 h4{
        font-size: 1.2vw;
        text-align: left;
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
    }
}

/*                      Skills Section               */

.arrow{
    width: 100%;
    height: 10vh;
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #818a8f;
    border-right: 3px solid #818a8f;
    text-align: center;
    transform: rotate(45deg);
    margin: -10px;
    left: 50%;
    position: relative;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -.2s;
}

.arrow span:nth-child(3){
    animation-delay: -.4s;
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.skills-container {
    display: flex;
    /* background: #111; */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #f9f8f8;
    position: relative;
    height: fit-content;
    width: fit-content;
    left: 50%;
    margin-bottom: 60px;
    transform: translate(-50% , 10%);
    overflow: hidden;
}
.skills-sidebar {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: #ebe9e6;
    padding: 15px;
    font-size: 22px;
    font-family: "Be Vietnam Pro", serif;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.skills-content {
    padding: 20px 30px;
    text-align: center;
    flex: 1;
}
.skills-content h2 {
    color: #f1eee8;
    font-size: 26px;
    margin-bottom: 20px;
    font-family: "Be Vietnam Pro", serif;
}
.skills-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    
}
.skill-box {
    background: #222;
    padding: 25px 12px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #f9f8f8;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

.skill-box::after{
    content: "";
    height: 100px;
    width: 100px;
    opacity: 90%;
    background-color: #60DBFB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all linear 0.3s;
    z-index: -1;
    border-radius: 50%;
}

.skill-box:nth-child(2)::after{
    background-color:  #FAD200;
}
.skill-box:nth-child(3)::after{
    background-color: #F15521;
}
.skill-box:nth-child(4)::after{
    background-color: #2A9CF7;
}
.skill-box:nth-child(5)::after{
    background-color: #2AACC1;
}
.skill-box:nth-child(6)::after{
    background-color: #2B3035;
}
.skill-box:nth-child(7)::after{
    background-color: #58AA50;
}
.skill-box:nth-child(8)::after{
    background-color: #F78F38;
}
.skill-box:nth-child(9)::after{
    background-color: #F6D049;
}
.skill-box:nth-child(10)::after{
    background-color: #1086D4;
}

.skill-box:hover::after{
    transform: translate(-50%,-50%) scale(0.9);
    
}


.skill-box:hover {
    transform: translateY(-6px);
}
.skill-box i {
    font-size: 4vw;
    color: white;
    transition: all linear 0.5s;
}
/* .skill-box:hover i{
    color: rgb(36, 35, 35);
    
} */



@media (max-width: 425px) {
    .skills-container {
        flex-direction: column;
        padding: 20px;
        width: fit-content;
        /* height: fit-content; */
        transform: translate(-50%, 2%);
    }

    .skills-sidebar {
        writing-mode: horizontal-tb;
        border-radius: 20px 20px 0 0;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skill-box {
        padding: 12px 10px;
    }

    .skill-box i {
        font-size: 7vw;
    }
    /* .contact-right img{
        display: none;
    } */
}

@media (min-width: 426px) and (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        padding: 20px;
        width: fit-content;
        transform: translate(-50%, 2%);
    }

    .skills-sidebar {
        writing-mode: horizontal-tb;
        border-radius: 20px 20px 0 0;
    }
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skill-box {
        padding: 15px 30px;
    }

    .skill-box i {
        font-size: 8vw;
    }
    .skill-box:hover::after{
        transform: translate(-50%,-50%) scale(3);
        
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .skills-container {
        flex-direction: column;
        padding: 20px;
        width: fit-content;
        transform: translate(-50%, 2%);
    }
    .skills-sidebar {
        writing-mode: horizontal-tb;
        border-radius: 20px 20px 0 0;
    }

    .skills-grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
    }

    .skill-box {
        padding: 24px 12px;
    }

    .skill-box i {
        font-size: 5vw;
    }
    .skill-box:hover::after{
        transform: translate(-50%,-50%) scale(0.7);
        
    }
}

@media (min-width: 1025px) and (max-width: 1300px){
    .skill-box:hover::after{
        transform: translate(-50%,-50%) scale(0.7);
    }
}



/*              CONTACT SECTION              */

.contact-container{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    padding-left: 8vw;
    /* border: 2px solid red; */
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 4vw;
    margin-bottom: 5px;
    
}

.contact-left-title hr{
    border: none;
    width: 130px;
    height: 5px;
    background-color: #f9f8f8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px;
}

.contact-left textarea{
    padding-top: 15px;
    border-radius: 20px;
    width: 100%;
    resize: vertical; /* Allows resizing only vertically */
    overflow-y: auto; /* Enables scrolling instead of expanding infinitely */
    min-height: 150px;
    max-height: 400px;
}

.contact-inputs:focus{
    border: 2px solid rgb(255, 174, 0);
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #161616;
    gap: 10px;
    border: none;
    border-radius: 15px;
    background-color: white;
    cursor:pointer;
    transition: all ease-in-out 0.5s;
    
}

.contact-left button:hover{
    /* padding: 17px 32px; */
    transition: all ease-in-out 0.5s;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact-right img{
    width: 450px;
    filter: brightness(200%);
}

/* Small Screens: 425px and below */
@media (max-width: 425px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        text-align: center;
        margin-top: 0%;
        /* border: 1px solid red; */
    }

    .contact-left-title h2 {
        font-size: 13vw;
    }

    .contact-inputs {
        width: 100%;
        height: 45px;
        padding-left: 15px;
    }

    .contact-left textarea {
        width: 100%;
        min-height: 120px;
        max-height: 400px;
    }

    .contact-left button {
        padding: 12px 30px;
        font-size: 14px;
    }

    .contact-right img {
        display: none;
    }
}

/* Medium Screens: 426px to 768px */
@media (min-width: 426px) and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        text-align: center;
        margin-top: 7%;
    }

    .contact-left-title h2 {
        font-size: 11vw;
    }

    .contact-inputs {
        width: 100%;
        height: 50px;
    }

    .contact-left textarea {
        width: 100%;
        min-height: 130px;
        max-height: 400px;
    }

    .contact-left button {
        padding: 14px 28px;
    }

    .contact-right img {
        display: none;
    }
}

/* Large Tablets: 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-around;
        padding-left: 5vw;
        margin-top: 8%;
    }

    .contact-left {
        align-items: center;
        gap: 15px;
    }

    .contact-left-title h2 {
        font-size: 4vw;
    }

    .contact-inputs {
        width: 300px;
        height: 45px;
    }

    .contact-left textarea {
        width: 300px;
        min-height: 140px;
        max-height: 300px;
    }

    .contact-left button {
        padding: 12px 27px;
    }

    .contact-right img {
        width: 300px;
    }
}
@media (min-width: 1986px) and (max-width: 2200px){
    .contact-inputs {
        width: 100%;
        height: 45px;
    }
    .contact-right img {
        width: 500px;
    }
}

/*          Footer Part          */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    height: 30vh;
}

.footer ul{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer ul::before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 20%;
    width: 60%;
    height: 1px;
    background-color: #a7a4a4;
}


.footer ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.footer ul li a{
    text-decoration: none;
}

.footer ul li a i{
    font-size: 2em;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer ul li a i:hover{
    color: #2bb1f9;
    transform: scale(1.1);
}
.footer ul li:nth-child(2) a i:hover {
    color: #2B3035;
    transform: scale(1.1);
}
.footer ul li:nth-child(3) a i:hover {
    color: #DD2A7B;
    transform: scale(1.1);
}
.footer ul li:nth-child(4) a i:hover {
    color: #1DA1F1;
    transform: scale(1.1);
}

.footer p{
    padding: 20px 0;
    font-size: 1em;
    color: #fff;
    font-family: Be Vietnam Pro;
    font-weight: 200;
    text-decoration: none;
}

.footer p:nth-child(3){
    padding: 0px;
    font-size: 1em;
    color: #fff;
    font-family: Be Vietnam Pro;
    font-weight: 200;
    
}

